<div class="directions-input">

  <div class="list user-input js-user-input-group">

  <label class="item item-input item-icon-right">
    <i class="icon ion-ios7-arrow-thin-right"></i>
    <input
      type="text"
      id="origin"
      name="origin"
      class="js-user-input"
      placeholder="Origem"
      v-model="origin"
      v-on="keyup: suggestStations('origin')"
    >
  </label>

  <label class="item item-input item-icon-right">
    <i class="icon ion-ios7-arrow-thin-left"></i>
    <input
      type="text"
      id="destination"
      name="destination"
      class="js-user-input"
      v-model="destination"
      v-on="keyup: suggestStations('destination')"
      placeholder="Destino"
    >
  </label>

  </div>

</div>

<div class="list directions-suggestions">
  <div class="item item-divider" v-show="suggestions.length">
    Estações
  </div>
  <div
    class="item"
    v-repeat="suggestion: suggestions"
    v-touch="tap: selectSuggestion(suggestion.title), tap: cleanupSuggestions"
  >
    <a href="#">
      {{suggestion.title}}
      <span
        style="background: {{line.color}}; border-color: {{line.color}};"
        v-repeat="line: suggestion.lines"
      />
    </a>
  </div>
</div>
