<div
  class="station-map-container has-transform-animation"
  id="js-station-map-container"
>
  <div id="station-map"></div>
</div>

<div
  class="station-info-container content ionic-pseudo has-transform-animation"
  id="js-station-info-container"
  >
  <div class="list">
    <div class="item item-divider">
      Localização
    </div>

    <a class="item item-icon-right" href="#">
      {{station.location.address}}
      <!--
      <span class="item-note">
        Blue, yellow, pink
      </span>
      -->
    </a>

    <div class="item item-divider">
      Horários
    </div>

    <a
      class="item item-icon-right"
      href="#"
      style="padding-right: 10px;"
      v-repeat="schedule: station.schedule">
        {{schedule.title}}
        <span class="item-note">{{schedule.period}}</span>
    </a>

    <div class="item item-divider">
      Linhas
    </div>

    <a
      class="item item-icon-left"
      href="#"
      v-repeat="line: station.lines"
      v-touch="tap: selectLine(line)"
    >
      <i class="icon ion-record" style="color: {{line.color}}"></i>
      <h2>{{line.title}}</h2>
      <p>Status ok</p>
    </a>
  </div>
</div>
