<div id="station-map"></div>

<div class="station-info">
  <h3>Status</h3>
  <p>Ok</p>
</div>

<div class="station-info">
  <h3>Localização</h3>
  <p>{{station.location.address}}</p>
</div>

<div class="station-info">
  <h3>Horário de funcionamento</h3>
  <ul>
    <li v-repeat="schedule: station.schedule">
      <p>{{schedule.title}}</p>
      <p>{{schedule.period}}</p>
    </li>
  </ul>
</div>

<div class="station-info">
  <h3>Linhas</h3>
  <ul>
    <li v-repeat="line: station.lines">
      <p style="color: {{line.color}}; font-weight: bold;">{{line.title}}</p>
    </li>
  </ul>
</div>
