<div class="no-header-container">
  <ul class="list">
    <li class="item item-icon-left">
      <i class="icon ion-checkmark-circled" style="color: green;"></i>
      Linha 1 - Azul<br />
      <small>Funcionamento normal</small>
    </li>

    <li class="item item-icon-left">
      <i class="icon ion-checkmark-circled" style="color: green;"></i>
      Linha 2 - Verde<br />
      <small>Funcionamento normal</small>
    </li>

    <li class="item item-icon-left">
      <i class="icon ion-information-circled" style="color: orange;"></i>
      Linha 3 - Vermelha<br />
      <small>Velocidade reduzida</small>
    </li>

    <li class="item item-icon-left">
      <i class="icon ion-checkmark-circled" style="color: green;"></i>
      Linha 4 - Amarela<br />
      <small>Funcionamento normal</small>
    </li>

    <li class="item item-icon-left">
      <i class="icon ion-close-circled" style="color: red;"></i>
      Linha 5 - Lilás<br />
      <small>Inoperante devido a protestos</small>
    </li>
  </ul>
</div>
