/* ==========================================================================
   Core » Application
   ========================================================================== */

/**
 * Main application container.
 */

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
