/* ==========================================================================
   Core » Core
   ========================================================================== */

/**
 * Core elements.
 */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
