.footer {
  z-index: 99;

  .tabs:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(#000, .15);
    top: -2px;
  }

  &.is-hidden {
    .tabs {
      bottom: -50px;
    }
  }

  .tabs {
    transition: bottom .5s ease;
  }

  .tab-item {
    opacity: 1;
  }
}
