.is-ios .navigation .content {
  margin-top: 230px;
}

.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4a87ee;

  .siga-logo {
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -100px;
  }

  .content {
    margin-top: 270px;
  }

  .item {
    background: #4a87ee;
    border-color: rgba(#000, .25);

    &:first-child {
    }

    &:last-child {
      border-bottom-color: transparent;
    }

    &:after,
    .icon {
      color: rgba(#000, .25);
    }

    * {
      color: #fff;
    }
  }
}

.navigation-menu {
}

.navigation-menu__item {
}
