.navigation {
  position: absolute;
  padding: 20px;
  display: inline-block;
}

.navigation-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-menu__item {
  font-size: 30px;
  margin-top: 20px;

  &:first-child { margin-top: 0; }
}
