<div class="bar bar-header">
  <button
    class="button button-icon button-clear icon ion-navicon"
    style="color: #fff;"
    v-touch="tap: toggle"
    >
  </button>
</div>

<h1 class="siga-logo"></h1>

<div class="content">

  <div class="list" >

    <a class="item item-icon-left" href="#">
      <i class="icon ion-map"></i>
      <h2>Mapa</h2>
      <p>Mapa geral das estações</p>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios7-location-outline"></i>
      <h2>Trajeto</h2>
      <p>Planeje sua viagem</p>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-radio-waves"></i>
      <h2>Status Operacional</h2>
      <p>Confira o funcionamento das linhas</p>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios7-search-strong"></i>
      <h2>Busca</h2>
      <p>Procurar por linha ou estação</p>
    </a>

  </div>
</div>
