<div class="bar bar-header" style="border: 0 !important;">
  <button
    class="button button-icon button-clear icon ion-ios7-close-empty"
    style="color: #fff;"
    v-touch="tap: toggle"
    >
  </button>
</div>

<h1 class="ir has-transform-animation siga-logo">Siga</h1>

<div class="content">

  <div class="list" >

    <a class="item item-icon-left" href="#" v-touch="tap: setSection('overview')">
      <i class="icon ion-map"></i>
      <h2>Mapa</h2>
      <p>Mapa geral das estações</p>
    </a>

    <a class="item item-icon-left" href="#" v-touch="tap: setSection('directions')">
      <i class="icon ion-ios7-location-outline"></i>
      <h2>Trajeto</h2>
      <p>Planeje sua viagem</p>
    </a>

    <a class="item item-icon-left" href="#" v-touch="tap: setSection('status')">
      <i class="icon ion-radio-waves"></i>
      <h2>Status Operacional</h2>
      <p>Confira o funcionamento das linhas</p>
    </a>

    <a class="item item-icon-left" href="#" v-touch="tap: setSection('search')">
      <i class="icon ion-ios7-search-strong"></i>
      <h2>Busca</h2>
      <p>Procurar por linha ou estação</p>
    </a>

  </div>
</div>
