.no-header-container {
  margin-top: 50px;
}

.has-transform-animation {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.scrollable-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
