/* ==========================================================================
   Base » Base
   ========================================================================== */

/**
 * Base style declarations.
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;

  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  transform: translate3d(0, 0, 0);
}

// To avoid weird zoom/scale on iOS when focusing an input text or text area
input[type="text"],
textarea {
  font-size: 1em;
}

// Vue's v-cloak layer
[v-cloak] { display: none; }
