/* ==========================================================================
   Sections » Direction detail
   ========================================================================== */

.section.directions-detail {
  .directions-detail-map-container {
    transition: all .65s ease;
    width: 100%;
    height: 60%;
    display: block;

    &.is-hidden {
      transform: translateY(-250px);
    }
  }

  #directions-detail-map {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.directions-detail-routes {
  transition: all .7s ease;

  &.is-hidden {
    transition-duration: .6s;
    transform: translateY(-250px);
  }
}

.directions-guide {
  transition: transform .65s ease;
  transform: translateY(180px);

  &.is-expanded {
    transition-duration: .5s;
    transform: translateY(-340px);
  }
}
