.section.directions {
  padding-top: 50px;
}

.directions-suggestions .item {
  cursor: pointer;
  padding: 14px 15px 14px 15px;
}

.directions-suggestions .item a {
  color: #444;
}

.directions-suggestions span {
  float: right;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-left: 10px;

  &:last-child {
    margin-left: 0;
  }
}
