.section.directions-detail {

  .directions-detail-map-container {
    width: 100%;
    height: 60%;
  }

  #directions-detail-map {
    width: 100%;
    height: 100%;
  }

}

.directions-detail-routes {
  .item-note {
    margin-right: -30px;
  }
}
