/* ==========================================================================
   Sections » Line
   ========================================================================== */

.section.line {
  .stations-list {
    margin-left: 20px;

    h4 {
      padding: 0;
      margin: 0;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
