#overview-map {
  width: 100%;
  height: 100%;
}

.section.overview {
  position: relative;

  .nearest-station-button {
    font-size: 20px;
    position: absolute;
    z-index: 9;
    right: 1.5em;
    bottom: 1.5em;
  }
}
