.section.station {
  .station-map-container {
    transition: all .55s ease;
    width: 100%;
    height: 100%;
    position: relative;

    &.is-expanded {
      transition-delay: .025s;
      // transform: translateY(-80%);
      transform: translateY(-480px);
    }
  }

  .station-map-container:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    // TODO: Create a mixin for flat shadows
    background: rgba(#000, .15);
  }

  #station-map {
    width: 100%;
    height: 100%;
  }

  .station-info-container {
    transition: all .55s ease .025s;

    &.is-expanded {
      transition-delay: 0;
      transform: translateY(-480px);
    }
  }
}
