.header {
  position: relative;
  z-index: 4;

  &.is-hidden {
    .bar-header {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .bar-header {
    transition: all .5s ease;
    background: rgba(#fff, .65);
    border: 0;
  }

  .bar-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    z-index: 4;
    background: rgba(#000, .15);
    left: 0;
    bottom: 0;
  }
}
