.header {
  position: relative;

  .bar-header {
    transition: all .35s ease;
    background: rgba(#fff, .65);
  }

  &.is-hidden {
    .bar-header {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}
