/* ==========================================================================
   Modules » Info window
   ========================================================================== */

.js-info-window-container {
  transition: all .15s ease;
  z-index: 55;
}

.info-window {
  cursor: pointer;
  padding-right: 0;
  margin-left: 10px;
  overflow: visible;

  .label {
    color: #444;
  }

  .icon {
    font-size: 24px;
    margin-left: 10px;
    line-height: 24px;
    vertical-align: middle;
    color: #4a87ee;
  }
}
