.marker {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  background: seagreen;
  box-shadow: 0px 0px 0px 3px rgba(seagreen, .65);
}

.marker__label {
  color: #fff;
  display: inline-block;
  // width: 100%;
}
