/* ==========================================================================
   Modules » Marker
   ========================================================================== */

/* Marker » Pulsate animation variables
   ========================================================================== */

$PULSATE_MARKER_SIZE: 51px !default;
$PULSATE_MARKER_BORDER: 2.5pt solid #4aa3df !default;

/* Marker » Pulsate animation
   ========================================================================== */

@keyframes pulsate {
  0% {
    transform: scale(.25);
    opacity: 0;
  }

  30% {
    opacity: .85;
  }

  95% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(.3);
    opacity: 0;
  }
}

/* Marker » Google Maps markers
   ========================================================================== */

div.gmnoprint {
  z-index: 4;
}

div.gmnoprint[title="is-active"] {
  animation: pulsate 1.25s ease-in-out infinite;
  border: $PULSATE_MARKER_BORDER;
  border-radius: $PULSATE_MARKER_SIZE;
  z-index: 2;

  /* Set the ring's new dimension and re-center it */
  margin: -18px 0 0 -18px;
  height: $PULSATE_MARKER_SIZE !important;
  width: $PULSATE_MARKER_SIZE !important;

  & img { display: none; }
}

/* Compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
  div.gmnoprint[title="is-active"] {
    margin:-10px 0 0 -10px;
  }
}
