.section {
  background: #fff;
  position: absolute;
  opacity: 1;
  transition: all .2s ease;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.section.v-enter {
  opacity: 0;
  transform: translateX(160px);
}

.section.v-leave {
  opacity: .99;
}

.section.retreat {
  transform: translateX(220px);
}
