.section {
  background: #fff;
  position: absolute;
  opacity: 1;
  transition: all .5s ease;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow-y: scroll;
}

.section.is-hidden {
  transform: translateX(100%);
}

.section.v-enter {
  // opacity: 0;
  transition-delay: .2s;
  transform: translateX(160px);
}

.section.v-leave {
  // opacity: .99;
  transition-duration: .65s;
  transform: translateX(-160px);
}

.section.retreat {
  transform: translateX(220px);
}
