<div id="directions-detail-map"></div>

<!-- Metrô em direção a Vila Prudente true detail.js:76
Ande para Paraíso true detail.js:76
Metrô em direção a Tucuruvi true detail.js:76
Ande para Sé true detail.js:76
Metrô em direção a Palmeiras - Barra Funda true detail.js:76
is valid route? true  -->

<ul class="fake list">
    <li class="item">
    <i class="icon ion-record" style="color: #006d58;"></i>
    VPR
    <i class="icon ion-record" style="color: #285083;"></i>
    TUC
    <i class="icon ion-record" style="color: #df3f31;"></i>
    BFN
    </li>
    <li class="item">
    <i class="icon ion-record" style="color: #006d58;"></i>
    VMD
    <i class="icon ion-record" style="color: #285083;"></i>
    LUZ
    <i class="icon ion-record" style="color: #df3f31;"></i>
    AGB
    </li>
</ul>

<div class="direction-detail-steps" hidden>
  <ul>
    <li v-repeat="route: routes"></li>
  </ul>
</div>
