<div id="js-directions-map" class="directions-detail-map-container">
    <div id="directions-detail-map"></div>
</div>

<div id="js-directions-routes" class="directions-detail-routes">

  <div class="list">

    <div class="item item-divider">
      Possíveis rotas de metrô
    </div>

    <div class="card" id="js-no-routes" style="display: none;">
      <div class="item item-text-wrap">
        <h2>Nenhuma rota</h2>
        <p>Esse trecho não possui conexões diretas entre trens do metrô.</p>
      </div>
    </div>

    <a
      class="item item-arrow-right"
      v-repeat="route: subwayRoutes"
      v-touch="tap: onClick(route)"
    >
    <span v-repeat="step: route.steps">
      <i class="icon ion-record" style="color: {{step.lineColor}};"></i>
      {{step.headsign}}
    </span>

    <span
      class="item-note"
    >{{route.duration | shortDuration}}</span>
    </a>

  </div>
</div>

<div id="js-directions-guide" class="has-transform-animation directions-guide" style="display: none;">
  <div class="list">
    <div class="item item-divider">
      Trajeto
      <span class="item-note">{{details.duration}} / {{details.distance}}</span>
    </div>

    <a class="item item-icon-right" href="#" v-repeat="details.guide">
      <i class="icon placeholder-icon {{$value | parseIcon}}" style="right: 0;"></i>
      <p v-text="$value | parseGuide"></p>
    </a>
  </div>
</div>
